*.ipr
*.iws
*.idea
*.iml
.classpath
.project
.springBeans
.settings/
.sts4-cache
target/
generated
dependency-reduced-pom.xml
.factorypath
.mvn
launch.json
.vscode


helix-web/src/test/automation/helix-automation/Reports/**
helix-web/src/test/automation/helix-automation/ReportFolder/**

core/investigation/bin
